.header-wrapper[data-v-43745d1a]{border-radius:calc(var(--radius) + 4px);display:flex;justify-content:space-between;padding:2.5rem 1.5rem;--tw-text-opacity:1;color:#fff;color:rgba(255,255,255,var(--tw-text-opacity,1))}
